<h1>Palvelin</h1>

<ul>
  <li><b>Emolevy</b>: Asus P5K</li>
  <li><b>Prosessori</b>: Intel Core 2 Quad Q6600 @ 2,4GHz</li>
  <li><b>Muisti</b>: 4Gb @ 667MHz DDR2</li>
  <li><b>Virtalähde</b>: Antec NeoHE430 430W</li>
  <li><b>Kiintolevy</b>: Samsung HD251HJ 250Gb</li>
</ul>
